 **File uploaded from https://www.kaggle.com/theriley106/turo-rental-car-pricing-info
 Credit Christopher Lambert https://github.com/theriley106/turo_analytics

In [23]:
import json
import pandas as pd
import csv

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

**Json file contains multiple dictionaries within dictionaries

In [4]:
turo =pd.read_json("database.json")

**Converted to dataframe

In [5]:
turo.head()

   businessClass deliveryLabel  distance distanceLabel                                  distanceWithUnit  freeDeliveryPromotion                                             images  instantBookDisplayed                                           location  newListing                                              owner                                               rate  rating  rentableFromSearchedAirport  renterTripsTaken  responseRate                    responseTime  reviewCount                                            vehicle
0          False          None        11         11 mi  {'scalar': 11, 'unlimited': False, 'unit': 'MI'}                  False  [{'verified': False, 'thumbnails': {'620x372':...                 False  {'city': 'Iowa Falls ', 'country': 'US', 'prec...       False  {'lastName': 'D.', 'image': {'verified': False...  {'monthly': 0.30000000000000004, 'averageDaily...     NaN                        False                 0           0.0                            None            0  {'trim': None, 'automaticTransmission': True, ...
1          False          None         8          8 mi   {'scalar': 8, 'unlimited': False, 'unit': 'MI'}                  False  [{'verified': False, 'thumbnails': {'620x372':...                  True  {'city': 'Marshall', 'country': 'US', 'precisi...       False  {'lastName': 'C.', 'image': {'verified': False...  {'monthly': 0.30000000000000004, 'averageDaily...    5.00                        False                 1         100.0  {'unit': 'MINUTE', 'value': 0}            1  {'trim': None, 'automaticTransmission': True, ...
2          False          None         5          5 mi   {'scalar': 5, 'unlimited': False, 'unit': 'MI'}                  False  [{'verified': False, 'thumbnails': {'620x372':...                  True  {'city': 'Colliers', 'country': 'US', 'precisi...       False  {'lastName': 'S.', 'image': {'verified': False...  {'monthly': 0.25, 'averageDailyPrice': 40.0, '...     NaN                        False                 0           NaN                            None            0  {'trim': None, 'automaticTransmission': True, ...
3          False          None        19         19 mi  {'scalar': 19, 'unlimited': False, 'unit': 'MI'}                  False  [{'verified': False, 'thumbnails': {'620x372':...                  True  {'city': 'Moon', 'country': 'US', 'precision':...       False  {'lastName': 'A.', 'image': {'verified': False...  {'monthly': 0.0, 'averageDailyPrice': 99.0, 'a...    3.75                        False                 4         100.0  {'unit': 'MINUTE', 'value': 0}            5  {'trim': None, 'automaticTransmission': True, ...
4          False          None        17         17 mi  {'scalar': 17, 'unlimited': False, 'unit': 'MI'}                  False  [{'verified': False, 'thumbnails': {'620x372':...                 False  {'city': 'Pittsburgh', 'country': 'US', 'preci...       False  {'lastName': 'F.', 'image': {'verified': False...  {'monthly': 0.30000000000000004, 'averageDaily...     NaN                        False                 0           NaN                            None            0  {'trim': None, 'automaticTransmission': True, ...

In [6]:
turo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36279 entries, 0 to 36278
Data columns (total 19 columns):
businessClass                  36279 non-null bool
deliveryLabel                  9038 non-null object
distance                       36279 non-null int64
distanceLabel                  34560 non-null object
distanceWithUnit               36279 non-null object
freeDeliveryPromotion          36279 non-null bool
images                         36279 non-null object
instantBookDisplayed           36279 non-null bool
location                       36279 non-null object
newListing                     36279 non-null bool
owner                          36279 non-null object
rate                           36279 non-null object
rating                         21060 non-null float64
rentableFromSearchedAirport    36279 non-null bool
renterTripsTaken               36279 non-null int64
responseRate                   27845 non-null float64
responseTime                   27107 non-null object
reviewCount                    36279 non-null int64
vehicle                        36279 non-null object
dtypes: bool(5), float64(2), int64(3), object(9)
memory usage: 4.3+ MB

**Dataframe includes columns of dictionaries and dictionaries within dictionaries. These will need to be unpacked and evaluated.
Following cells split dictionaries into separate columns. Unneccesary columns are dropped.

In [7]:
turo = turo.drop('owner', 1).assign(**pd.DataFrame.from_records(turo.owner.dropna().tolist()))

In [8]:
turo.drop('image',axis=1,inplace=True)

In [9]:
turo = turo.drop('distanceWithUnit', 1).assign(**pd.DataFrame.from_records(turo.distanceWithUnit.dropna().tolist()))

In [10]:
turo.drop('distanceLabel',axis=1,inplace=True)
turo.drop('scalar',axis=1,inplace=True)
turo.drop('unit',axis=1,inplace=True)

In [11]:
turo = turo.drop('location', 1).assign(**pd.DataFrame.from_records(turo.location.dropna().tolist()))

In [12]:
turo = turo.drop('rate', 1).assign(**pd.DataFrame.from_records(turo.rate.dropna().tolist()))

In [13]:
turo.drop('averageDailyPriceWithCurrency',axis=1,inplace=True)
turo.drop('locationSource',axis=1,inplace=True)
turo.drop('country',axis=1,inplace=True)

In [14]:
turo = turo.drop('precision', 1).assign(**pd.DataFrame.from_records(turo.precision.dropna().tolist()))

In [15]:
turo.drop('timeZone',axis=1,inplace=True)
turo.drop('accuracy',axis=1,inplace=True)
turo.drop('level',axis=1,inplace=True)
turo.drop('address',axis=1,inplace=True)
turo.drop('addressLines',axis=1,inplace=True)
turo.drop('name',axis=1,inplace=True)
turo.drop('lastName',axis=1,inplace=True)
turo.drop('averageDailyPrice',axis=1,inplace=True)
turo.drop('firstName',axis=1,inplace=True)

In [16]:
turo = turo.drop('vehicle', 1).assign(**pd.DataFrame.from_records(turo.vehicle.dropna().tolist()))

In [17]:
turo.drop('marketCountry',axis=1,inplace=True)
turo.drop('marketCurrency',axis=1,inplace=True)
turo.drop('image',axis=1,inplace=True)
turo.drop('registration',axis=1,inplace=True)
turo.drop('url',axis=1,inplace=True)
turo.drop('trim',axis=1,inplace=True)
turo.drop('deliveryLabel',axis=1,inplace=True)

In [18]:
turo = turo.drop('responseTime', 1).assign(**pd.DataFrame.from_records(turo.responseTime.dropna().tolist()))

In [19]:
turo.drop('newListing',axis=1,inplace=True)
turo.drop('monthly',axis=1,inplace=True)
turo.drop('weekly',axis=1,inplace=True)
turo.drop('unit',axis=1,inplace=True)
turo.drop('value',axis=1,inplace=True)
turo.drop('rating',axis=1,inplace=True)
turo.drop('unlimited',axis=1,inplace=True)
turo.drop('responseRate',axis=1,inplace=True)

In [20]:
turo.drop('images',axis=1,inplace=True)
turo.drop('name',axis=1,inplace=True)

In [21]:
turo.head()

   businessClass  distance  freeDeliveryPromotion  instantBookDisplayed  rentableFromSearchedAirport  renterTripsTaken  reviewCount      id         city   latitude  longitude state  daily  automaticTransmission  listingCreatedTime       make        model type  year
0          False        11                  False                 False                        False                 0            0   58905  Iowa Falls   42.522726 -93.265547    IA   29.0                   True       1406583813000       Ford       Fusion  car  2014
1          False         8                  False                  True                        False                 1            1  403202     Marshall  44.433663 -95.789869    MN  162.0                   True       1523137713000    Porsche  718 Boxster  car  2017
2          False         5                  False                  True                        False                 0            0  320436     Colliers  40.351722 -80.559747    WV   40.0                   True       1505356047000  Chevrolet        Cruze  car  2014
3          False        19                  False                  True                        False                 4            5  350460         Moon  40.518838 -80.222071    PA   99.0                   True       1512018225000        BMW     6 Series  car  2006
4          False        17                  False                 False                        False                 0            0  429146   Pittsburgh  40.495285 -80.241361    PA   81.0                   True       1527170872000       Ford     Explorer  suv  2017

In [22]:
turo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36279 entries, 0 to 36278
Data columns (total 19 columns):
businessClass                  36279 non-null bool
distance                       36279 non-null int64
freeDeliveryPromotion          36279 non-null bool
instantBookDisplayed           36279 non-null bool
rentableFromSearchedAirport    36279 non-null bool
renterTripsTaken               36279 non-null int64
reviewCount                    36279 non-null int64
id                             36279 non-null int64
city                           36279 non-null object
latitude                       36279 non-null float64
longitude                      36279 non-null float64
state                          36279 non-null object
daily                          36279 non-null float64
automaticTransmission          36279 non-null bool
listingCreatedTime             36279 non-null int64
make                           36279 non-null object
model                          36279 non-null object
type                           36279 non-null object
year                           36279 non-null int64
dtypes: bool(5), float64(3), int64(6), object(5)
memory usage: 4.3+ MB

In [24]:
turo.to_csv("turo.csv")